@charset "UTF-8";


#employeeForm #checkCoupons {
    width: 25px;
    height: 25px;
    display: inline-block;
}

.marginTop {
    margin-top: 50px;
}

.marginTopFilterButton {
    margin-top: 25px;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
}

.navbar-icon {
    font-size: 20px;
    float: left;
    margin-right: 15px;
}

.navbar {
    color: #ffffff;
    background: #004503;
}

.navbar-brand-img {
    font-size: 30px;
    float: left;
    margin-right: 15px;
    height: 30px;
    width: 30px;
}

.navbar-nav > li {
    float: left;
}

.navbar-nav > li {
    padding: 10px 15px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px;
}

.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-collapse {
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 0px !important;
    box-shadow: none;
    flex-basis: auto !important;
    -webkit-overflow-scrolling: touch;
}

.navbar-collapse:before, .navbar-collapse:after {
    content: " ";
    display: table;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: unset !important;
    padding-left: 0;
    list-style: none;
    float: left;
    margin: 0;
}

.form-inline .select2-container--bootstrap, .navbar-form .select2-container--bootstrap {
    display: inline-block;
}

.select2-container--bootstrap .select2-selection {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555555;
    outline: 0;
}

.select2-container--bootstrap {
    height: auto !important;
}

.select2-container--bootstrap .select2-selection--single {
    height: 38px !important;
    padding: 6px 24px 6px 12px;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__arrow {
    position: absolute;
    bottom: 0;
    right: 12px;
    top: 0;
    width: 4px;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
    border-color: #777777 transparent transparent transparent;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    height: 0;
    left: 0;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    color: #555555;
    padding: 0;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__placeholder {
    color: #777777;
}

.select2-container--bootstrap .select2-selection--multiple {
    min-height: 34px;
    padding: 0;
    height: auto;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    display: block;
    line-height: 1.428571429;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__placeholder {
    color: #777777;
    float: left;
    margin-top: 5px;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
    color: #555555;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin: 5px 0 0 6px;
    padding: 0 6px;
}

.select2-container--bootstrap .select2-selection__clear {
    color: #777777;
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-right: 10px;
}

a {
    color: #1d5c20 !important;
    text-decoration: none !important;
}

.page-item.active .page-link {
    background-color: #1d5c20 !important;
    border-color: #1d5c20 !important;
}

.button-width {
    width: 100%;
}

.success {
    background-color: #d0e9c6;
}

.danger {
    background-color: #f2dede;
}

.warning {
    background-color: #f7ecb5;
}

th {
    text-align: center !important;
}

.navbar-default .navbar-brand {
    color: #ffffff !important;
}

.navbar-header {
    float: left;
}

.navbar-toggle {
    display: none;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff !important;
}

.navbar-right {
    float: right !important;
}

.dropdown-menu {
    position: absolute !important;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.dropup-icon .glyphicon-list:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0ca";
    font-weight: 900;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 38px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container .select2-selection--multiple {
    min-height: 38px !important;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.modal-header {
    display: block !important;
}

.btn-success {
    color: #fff !important;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.pull-right {
    float: right !important;
}

#employeeForm label[for=checkCoupons] {
    vertical-align: super;
}

.btn {
    margin-top: 0.5rem !important;
}

.table-icon {
    font-size: 20px;
}

.pagination > .page-item > a, .pagination > .page-item > span {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.form-check-input {
    position: relative !important;
    margin-left: 0px !important;
}

li[aria-selected=true] {
    display: none !important;
}

ul#select2-keySelect-results {
    max-height: 600px;
    overflow: auto;
}


/* Общий стиль для выпадающего списка */
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Учитывает границы и отступы при вычислении размера элемента */
    font-size: 16px;
    background-color: #fff;
}

/* Стили для опций выпадающего списка */
option {
    padding: 8px;
    font-size: 16px;
    background-color: #fff;
    color: #000;
}

/* При наведении курсора на опцию */
option:hover {
    background-color: #f2f2f2;
}
